<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hungry Hub</title>
<link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>
<h1>Welcome <span>Admin</span></h1> <!-- Added header -->
<div class="admin-panel">
  <div class="row">
    <a href="customerlist" class="box" id="box1">Customer List</a>
    <a href="foodlist" class="box" id="box2">Food Items</a>
    <a href="orderlist" class="box" id="box3">Order Details</a>
  </div>
  <div class="row">
    <a href="feedbacklist" class="box" id="box4">Feedbacks</a>
    <a href="billdetalis" class="box" id="box5">Bill Details</a>
    <a href="paymenntlist" class="box" id="box6">Payment Details</a>
  </div>
</div>
<script>
document.getElementById('box1').addEventListener('click', function() {
});

document.getElementById('box2').addEventListener('click', function() {
});

document.getElementById('box3').addEventListener('click', function() {
});

document.getElementById('box4').addEventListener('click', function() {
});

document.getElementById('box5').addEventListener('click', function() {
});

document.getElementById('box6').addEventListener('click', function() {
});

</script>
</body>
</html>
